header, #cadastro {
  background-image: url(/Imagens/IdentidadeVisual_JLM2_#\ -2_page-0008.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f2f2f2;
  color: #4a4a4a;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
}

nav a:hover {
  background-color: #000;
  color: #fff;
}

nav a i {
  font-size: 20px;
}

section#cadastro {
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
}

section#cadastro h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

section#cadastro form label {
  display: block;
  margin-top: 10px;
}

section#cadastro form input[type="text"],
section#cadastro form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

section#cadastro form button[type="submit"] {
  padding: 10px 20px;
  background-color: rgb(7, 187, 40);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 14px;
}

section#cadastro form .buttons {
  margin-top: 40px;
}

section#cadastro form .buttons button,
section#cadastro form .buttons a {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #34b81a;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

section#cadastro form .buttons button:last-child,
section#cadastro form .buttons a:last-child {
  margin-right: 0;
}

section#cadastro form .buttons button:hover,
section#cadastro form .buttons a:hover {
  background-color: #555;
}

footer {
  background-color: #000000;
  color: white;
  padding: 20px;
  text-align: center;
}