/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ec712e;
    color: #4a4a4a;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos do cabeçalho */
header {
    background-color: #ec712e;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; /* Permite a quebra de linha em telas menores */
}

h1 {
    margin: 0;
    color: #fff;
    flex: 1; /* Ocupa o espaço disponível */
    text-align: center; /* Alinha o texto horizontalmente */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Alinha à horizontalmente */
    flex: 1; /* Ocupa o espaço disponível */
    margin-top: 10px; /* Adiciona um pequeno espaço entre o h1 e o ul */
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0; /* Remove a margem do primeiro item */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

/* Estilizando os ícones */
.nav-icon {
    margin-right: 5px;
    font-size: 18px;
}

/* Media Query para telas menores */
@media screen and (max-width: 768px) {
    h1, nav ul {
        width: 100%; /* Garante que ocupem a largura total */
        text-align: center; /* Centraliza o texto */
        margin-top: 10px; /* Adiciona espaço entre o h1 e o ul */
    }

    nav ul {
        justify-content: space-around; /* Alinha os itens horizontalmente */
    }
}


/* Estilos da seção de banner */
#banner {
    background-color: #ec712e;
    padding: 40px;
    text-align: center;
    width: 100%;
}

#banner h2 {
    margin: 0;
    color: #fff;
}

#banner p {
    margin-top: 10px;
    color: #fff;
}

/* Estilos da seção Sobre */
#sobre {
    background-color: #fff;
    padding: 40px;
    width: 100%;
}

#sobre h2 {
    margin: 0;
    color: #000;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    max-width: 50%;
    text-align: left;
    padding-right: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Estilos da seção Serviços */
#servicos {
    background-color: #ec712e;
    padding: 10px;
    text-align: center;
    color: #fff;
}

#servicos h2 {
    margin: 0;
}

#servicos .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Estilos para os serviços */
#servicos .service {
    width: calc(33.33% - 20px);
    margin: 20px 0;
    background-color: #fff;
    color: #000;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

#servicos .service img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#servicos .service h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

#servicos .service p {
    font-size: 14px;
    text-align: justify;
    margin: 0;
    padding: 0 20px;
}

/* Estilos da seção Nossos Clientes */
#nossos-clientes {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    width: 100%;
}

#nossos-clientes h2 {
    margin: 0;
    color: #000;
}

.clientes-container {
    overflow: hidden;
}

.clientes-container img {
    width: 200px;
    height: auto;
    margin: 0 10px;
}

/* Estilos da seção Contato */
#contato {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
    width: 100%;
}

#contato h2 {
    margin: 0;
    color: #000;
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contact-form button {
    background-color: #ec712e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #e0601c;
}

/* Estilos do rodapé */
footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    width: 100%;
}

/* Adicionando estilos para telas menores */
@media only screen and (max-width: 768px) {
    #sobre .about-content {
        flex-direction: column;
    }

    .text {
        max-width: 100%;
        padding-right: 0;
        margin-top: 20px;
    }

    #servicos .service {
        width: calc(50% - 20px);
    }
}

/* Adicionando estilos para telas ainda menores, como smartphones */
@media only screen and (max-width: 480px) {
    #servicos .service {
        width: 100%;
    }
}

/* Adicionando estilos para garantir que a imagem não ultrapasse a largura do contêiner */
img {
    max-width: 100%;
    height: auto;
}
